{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <div class="page-content">
        <div class="col-lg-12" id="admin-breadcrumbs">
            <a href="{{ url_for('admin.show_panel') }}">List users</a> |
            <a href="{{ url_for('admin.add_user') }}">Add user</a> |
            <a href="{{ url_for('admin.list_organizations') }}">List organizations</a> |
            <a href="{{ url_for('admin.add_organization') }}">Add organization</a>
        </div>
        {% block content %}{% endblock %}
    </div>