<!DOCTYPE html>
<html>
{% block head %}
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel=stylesheet type=text/css href={{ url_for('static', filename='app.css') }}>
<link rel=stylesheet type=text/css href={{ url_for('static', filename='statistics.css') }}>
<script type=text/javascript src={{ url_for('static', filename='app.js') }}></script>
<script type=text/javascript src={{ url_for('static', filename='Chart.min.js') }}></script>
{% endblock %}

<div id="header-row">
    <h2 id="logo">WEB-POS online software</h2>
</div>

{% if current_user.is_authenticated %}
<div id="user-panel-row">
        <span id="greeting">Hello, <b>{{ current_user.email }}</b>!</span>
    <span id="logout">
        <a class="btn" role="button" href="{{ url_for('auth.logout') }}">Logout</a>
    </span>

</div>
{% endif %}

<div class="container custom-container" id="main">
    <div class="row">

        {% if current_user.is_authenticated %}
            <div class="col-lg-2 col-md-2" id="left-navigation">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-navbar-content"
                        aria-controls="left-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="left-navbar-content">
                        <ul class="nav navbar-nav" id="main-navigation">
                            {% if current_user.is_admin %}
                                <li class="nav-item {{ 'active' if "admin_panel" in request.path }}">
                                    <a class="nav-link" id="admin-nav-item" href="{{ url_for("admin.show_panel") }}">Admin Panel</a></li>
                            {% endif %}
                            <!-- Fix org_id=0 (0 should not be there) -->
                            <li class="nav-item {{ 'active' if "dashboard" in request.path }}">
                                <a class="nav-link" href="{{ url_for("stats.show_today", org_id=0) }}">Dashboard</a></li>
                            <li class="nav-item {{ 'active' if "upload" in request.path }}">
                                <a class="nav-link" href="{{ url_for("uploader.upload_file") }}">Upload XML</a></li>
                            <li class="nav-item {{ 'active' if "profile" in request.path }}">
                                <a class="nav-link" href="{{ url_for("profile.change_userinfo")}}">Profile Settings</a></li>
                            <li class="nav-item {{ 'active' if "logs" in request.path }}">
                                <a class="nav-link" href="{{url_for("uploader.log_file")}}">Error logs</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-lg-10" id="main-block">
            {% block body %}{% endblock %}
            </div>
        {% else %}
            {% block login_block %}{% endblock %}
        {% endif %}
    </div>
</div>

{#<div id="footer-row">#}
{#    <div class="footer-block">#}
{#        <span>&copy; Copyright WEB-POS 2018</span>#}
{#    </div>#}
{#</div>#}

</html>
